body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header,.hero,.footer {
    background-color: #1f2937
}

.quote {
    background-color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 100;
    padding-top: 25px;
}

.title {
    margin: 0 auto;
    padding: 20px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    margin: 0 auto;
}

.hero .text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    padding-bottom: 100px;
    justify-content: ;
}

.hero-left {
    margin: 0 auto;
    max-width: 500px;
    gap: 5px;
    padding-left: 90px;
    padding-top: 20px;
}

.sign-up {
   padding-top: 9px;
}

.btn {
    width: 150px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.random {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.random-head {
    font-weight: bolder;
    font-size: 36px;
    margin: auto;
    padding: 15px;
}

.random-content {
    display: flex;
    gap: 55px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 100px;
}

.card {
    max-width: 150px;
}

.random-content .text {
    width: 150px;
    text-align: center;
    padding-top: 5px;
}

.card-img {
    width: 150px;
    height: 150px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote .text {
    display: flex;
    max-width: 765px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}

.author {
    align-self: center;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 50px;
    padding-left: 500px;
}

